#head{
	text-align: center;
	color:#7FFF00;
	background-color:blue;
}

.container-fluid{
	background-image: url("../images/gems.jpg");
	/*background-image: repeat;*/
}

#instructions{
	background-color:black;
	color:white;
}

.panel{
	text-align:center;
}